<?php
// /config/database.php

return [
    'host' => '127.0.0.1',
    'port' => '3306',
    'dbname'   => 'portal_games',
    'user' => 'votre_utilisateur',
    'password' => 'votre_mot_de_passe',
    'charset' => 'utf8mb4'
];
